<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%- include ('../partials/stylesComunes') %>
        <%- include ('../partials/stylesFormularios') %>
    
    
        <%- include ('../partials/scriptsComunes') %>

    <title>Alta de Edificios</title>
</head>
<body>
    <header>

        <%- include ('../partials/header.ejs') %>

    </header>
    <main>
        
        <%- include ('../partials/accesosRapidos.ejs')%>

        <section class="formulario">
            <h2 class="formulario_titulo">ALTA DE EDIFICIOS</h2>
            <form action="/edificios/guardar" method="post" novalidate>
                <div class="formulario_div">
                    <label class="formulario_label" for="ubicacion">UBICACION:</label>
                    <input class="formulario_input" type="text" name="ubicacion" id="ubicacion">
                    <% if (errors && errors.ubicacion){ %>
                        <p class="error"><%= errors.ubicacion.msg %></p>
                    <% } %>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="descripcion">DESCRIPCION:</label>
                    <textarea class="formulario_input" name="descripcion" id="descripcion"></textarea>
                    
                    
                </div>                
                <div class="formulario_div">
                    <button class="formulario_boton" type="submit">GUARDAR</button>
                </div>
            </form>
        </section>
        
    </main>
    <footer>
       
    </footer>
</body>
</html>