<<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%- include ('../partials/stylesComunes') %>
        <%- include ('../partials/stylesTablas') %>

        <link rel="stylesheet" href="/styles/dependenciasListado.css">
    
        <%- include ('../partials/scriptsComunes') %>

    <title>Listado de dependencia</title>
</head>
<body>
    <header>

        <%- include ('../partials/header.ejs') %>

    </header>
    <main>
        
        <%- include ('../partials/accesosRapidos.ejs')%>

        <section class="listado">
            <h2 class="listado_titulo">LISTADO DE AREAS</h2>
            <table>
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>EMAIL</th>
                        <th>TELEFONO</th>
                        <th>VER</th>
                        <th>EDITAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody>
                   <% listadoAreas.forEach((unArea) => { %>
                        <tr> 
                            <td><%= unArea.nombre %></td>
                            <td><%= unArea.email %></td>
                            <td><%= unArea.telefono %></td>
                            <td><a href="/areas/ver/<%=unArea.codigoAreaId%>"><i class="fa-solid fa-eye"></i></a></td>
                            <td><a href="/areas/editar/<%=unArea.codigoAreaId%>"><i class="fa-solid fa-pen-to-square"></i></a></td>
                            <td>
                                <form action="/areas/eliminar/<%=unArea.codigoAreaId%>?_method=delete" method="post">
                                    <button><i class="fa-solid fa-trash-can"></i></button>
                                </form>
                            </td>
                        </tr>
                   <% }) %>
                </tbody>
            </table>
        </section>
        
    </main>
    <footer>
       
    </footer>
</body>
</html>