<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%- include ('../partials/stylesComunes') %>
        <%- include ('../partials/stylesFormularios') %>
    
        <%- include ('../partials/scriptsComunes') %>

    <title>Alta de Incidentes</title>
</head>
<body>
    <header>

        <%- include ('../partials/header.ejs') %>

    </header>
    <main>
        
        <%- include ('../partials/accesosRapidos.ejs')%>

        <section class="formulario">
            <h2 class="formulario_titulo">MODIFICACION DE INCIDENTE </h2>
            <form action="/incidentes/procesarEditar?_method=put" method="post" novalidate>
                <div class="formulario_div">
                    <Numero for="" class="formulario_label">Numero Incidente:</label>
                    <input type="text" class="formulario_input" name="numeroIncidente" value="<%=incidenteEncontrado.nroIncidenteId%>" readonly>  
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="clasificacionIncidente">CLASIFICACION:</label>
                    <select class="formulario_input" name="clasificacionIncidente" id="clasificacionIncidente">
                        <option value="">Seleccione una opcion</option>
                        <option value="Creacion carpetas" <%=(oldData && oldData.clasificacionIncidente == "Creacion carpetas") || (!oldData && incidenteEncontrado && incidenteEncontrado.clasificacionIncidente == "Creacion carpetas" ) ? 'selected' : '' %> >
                            Creacion de carpetas
                        </option>
                        <option value="Instalacion software" <%=(oldData && oldData.clasificacionIncidente == "Instalacion software") || (!oldData && incidenteEncontrado && incidenteEncontrado.clasificacionIncidente == "Instalacion software" ) ? 'selected' : '' %> >
                            Instalación de software
                        </option>
                        <option value="Entrega insumos" <%=(oldData && oldData.clasificacionIncidente == "Entrega insumos") || (!oldData && incidenteEncontrado && incidenteEncontrado.clasificacionIncidente == "Entrega insumos" ) ? 'selected' : '' %> >
                            Entrega de insumos
                        </option>
                        <option value="Permisos internet" <%=(oldData && oldData.clasificacionIncidente == "Permisos internet") || (!oldData && incidenteEncontrado && incidenteEncontrado.clasificacionIncidente == "Permisos internet" ) ? 'selected' : '' %>>
                            Permisos de internet
                        </option>
                        <option value="Configuracion impresora" <%=(oldData && oldData.clasificacionIncidente == "Configuracion impresora") || (!oldData && incidenteEncontrado && incidenteEncontrado.clasificacionIncidente == "configuracionImpresora" ) ? 'selected' : '' %>>
                            Configuracion de impresora
                        </option>
                        <option value="Reparacion equipo" <%=(oldData && oldData.clasificacionIncidente == "Reparacion equipo") || (!oldData && incidenteEncontrado && incidenteEncontrado.clasificacionIncidente == "Reparacion equipo" ) ? 'selected' : '' %>>
                            Reparación de equipo
                        </option>
                        <option value="Otros" <%=(oldData && oldData.clasificacionIncidente == "Otros") || (!oldData && incidenteEncontrado && incidenteEncontrado.clasificacionIncidente == "Otros" ) ? 'selected' : '' %>>
                            Otros
                        </option>
                    </select>
                    <% if (errors && errors.clasificacionIncidente){ %>
                        <p class="error"> <%= errors.clasificacionIncidente.msg %> </p>
                    <% } %>  
                </div>   
                <div class="formulario_div">
                    <label class="formulario_label" for="estado">ESTADO:</label>
                    <select class="formulario_input" name="estado" id="estado">
                        <option value="">Seleccione una opcion</option>
                        <option value="abierto" <%= (oldData && oldData.estado == 'abierto') || (!oldData && incidenteEncontrado && incidenteEncontrado.estado == 'abierto') ? 'selected' : '' %>>
                            Abierto
                        </option>
                        <option value="prestamo" <%= (oldData && oldData.estado == 'prestamo') || (!oldData && incidenteEncontrado && incidenteEncontrado.estado == 'prestamo') ? 'selected' : '' %>>
                            Prestamo
                        </option>
                    </select>
                    <% if (errors && errors.estado){ %>
                        <p class="error"><%= errors.estado.msg %></p>
                    <% } %>  
                </div>    
                <div class="formulario_div">
                    <label class="formulario_label" for="areaAsignada">AREA:</label>
                    <select class="formulario_input" name="areaAsignada" id="areaAsignada">
                        <option value="">Seleccione una opcion</option>
                        <% listadoAreas.forEach((unArea)=>{ %>
                            <option value="<%=unArea.codigoAreaId%>" <%=(oldData && oldData.areaAsignada == unArea.codigoAreaId) || (!oldData && incidenteEncontrado && incidenteEncontrado.codigoAreaId == unArea.codigoAreaId) ? 'selected' : '' %>>
                                <%=unArea.nombre%>
                            </option>
                        <% }) %>
                    </select>
                    <% if (errors && errors.areaAsignada){ %>
                        <p class="error"> <%= errors.areaAsignada.msg %> </p>
                    <% } %>  
                </div>                
                <div class="formulario_div">
                    <label class="formulario_label" for="operador">OPERADOR:</label>
                    <select class="formulario_input" name="operador" id="operador">
                        <option value="">Seleccione una opcion</option>
                        <% listadoOperadores.forEach((unOperador)=>{ %>
                            <option value="<%=unOperador.cuilOperadorId%>" <%= (oldData && oldData.operador == unOperador.cuilOperadorId) || (!oldData && incidenteEncontrado && incidenteEncontrado.cuilOperadorIdAsignado == unOperador.cuilOperadorId) ? 'selected' : ''%>>
                                    <%=unOperador.nombre%> <%=unOperador.apellido%>
                            </option>
                        <% }) %>
                    </select>
                    <% if (errors && errors.operador){ %>
                        <p class="error"> <%= errors.operador.msg %> </p>
                    <% } %>  
                </div>   
                <div class="formulario_div">
                    <label class="formulario_label" for="">DETALLES:</label>
                    <textarea name="detalles" id="detalles" class="formulario_input"><%=incidenteEncontrado.detalles %>
                    </textarea>
                </div>             
                <div class="formulario_div">
                    <button class="formulario_boton" type="submit">EDITAR</button>
                </div>
            </form>
        </section>
        
    </main>
    <footer>
       
    </footer>
</body>
</html>
</body>
</html>