<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%- include ('../partials/stylesComunes') %>
        <%- include ('../partials/stylesTablas') %>
        <link rel="stylesheet" href="/styles/incidentesListado.css">
    
        <%- include ('../partials/scriptsComunes') %>

    <title>Vista Principal</title>
</head>
<body>
    <header>

        <%- include ('../partials/header') %>

    </header>
    <main>
        
        <%- include ('../partials/accesosRapidos')%>

        <section class="listado">   
            <h2 class="listado_titulo">INCIDENTES EN ESTADO ABIERTO</h2> 
            <table>
                <% if(incidentesOperadorLogueado != ''){ %>
                    <thead>
                        <%- include ('../partials/listadoIncidentes-titulosTablas') %>
                    </thead>
                    <tbody>
                        <% incidentesOperadorLogueado.forEach((unIncidente)=>{ %>
                            <%- include ('../partials/listadoIncidentes',{unIncidente}) %>
                        <% }) %>
                    </tbody>
                <% }else{ %>
                    <%- include ('../partials/listadoIncidentes-textoAlternativo') %>
                <% } %>
            </table>
        </section>

        <section class="listado">  
            <h2 class="listado_titulo">INCIDENTES ASIGNADOS AL TALLER</h2> 
            <table>
                <% if(incidentesAsignadosTaller != ''){ %>
                    <thead>
                        <%- include ('../partials/listadoIncidentes-titulosTablas') %>
                    </thead>
                    <tbody>
                        <% incidentesAsignadosTaller.forEach((unIncidente)=>{ %>
                            <%- include ('../partials/listadoIncidentes',{unIncidente}) %>
                        <% }) %>
                    </tbody>
                <% }else{ %>
                    <%- include ('../partials/listadoIncidentes-textoAlternativo') %>
                <% } %>
            </table>
        </section>

        <section class="listado">  
            <h2 class="listado_titulo">INCIDENTES EN PRESTAMOS</h2> 
            <table>
                <% if(incidentesPrestamos != ''){ %>
                    <thead>
                        <%- include ('../partials/listadoIncidentes-titulosTablas') %>
                    </thead>
                    <tbody>
                        <% incidentesPrestamos.forEach((unIncidente)=>{ %>
                            <%- include ('../partials/listadoIncidentes',{unIncidente}) %>
                        <% }) %>
                    </tbody>
                <% }else{ %>
                    <%- include ('../partials/listadoIncidentes-textoAlternativo') %>
                <% } %>
            </table>
        </section>

    </main>
  
    <footer>
       
    </footer>
</body>
</html>