<tr>
    <td><%= unIncidente.nroIncidenteId %></td>
    <td><%= unIncidente.codigoDependenciaId %></td>
    <td><%= unIncidente.fechaAlta %></td>
    <td><%= unIncidente.clasificacionIncidente %></td>
    <td><%= unIncidente.tituloIncidente %></td>
    <td><a href=""><i class="fa-solid fa-eye"></i></a></td>
    <td><a href=""><i class="fa-solid fa-pen-to-square"></i></a></td>
    <td><a href=""><i class="fa-sharp fa-solid fa-door-closed"></i></a></td>
</tr>
        