<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%- include ('../partials/stylesComunes') %>
        <%- include ('../partials/stylesTablas') %>

        <link rel="stylesheet" href="/styles/usuariosListado.css">
    
        <%- include ('../partials/scriptsComunes') %>

    <title>Listado de usuarios</title>
</head>
<body>
    <header>

        <%- include ('../partials/header.ejs') %>

    </header>
    <main>
        
        <%- include ('../partials/accesosRapidos.ejs')%>

        <section class="listado">
            <h2 class="listado_titulo">LISTADO DE USUARIOS REGISTRADOS</h2>
            <table>
                <thead>
                    <tr>
                        <th class="cuil">CUIL</th>
                        <th class="nombre">NOMBRE</th>
                        <th class="apellido">APELLIDO</th>
                        <th class="email">EMAIL</th>
                        <th class="telefono">TELEFONO</th>
                        <th class="dependencia">DEPENDENCIA</th>
                        <th>VER</th>
                        <th>EDITAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cuil">20318243655</td>
                        <td class="nombre">Cristian</td>
                        <td class="apellido">Villafañe</td>
                        <td class="email">cristiandantes@hotmail.com</td>
                        <td class="telefono">4032-7479</td>
                        <td class="dependencia">Centro de computos</td>
                        <td><i class="fa-solid fa-eye"></i></td>
                        <td><i class="fa-solid fa-pen-to-square"></i></td>
                        <td><i class="fa-solid fa-trash-can"></i></td>
                    </tr>
                </tbody>
            </table>
        </section>
        
    </main>
    <footer>
       
    </footer>
</body>
</html>