<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%- include ('../partials/stylesComunes') %>
        <%- include ('../partials/stylesFormularios') %>
    
        
        <%- include ('../partials/scriptsComunes') %>

    <title>Alta de usuario</title>
</head>
<body>
    <header>

        <%- include ('../partials/header.ejs') %>

    </header>
    <main>
        
        <%- include ('../partials/accesosRapidos.ejs')%>

        <section class="formulario">
            <h2 class="formulario_titulo">ALTA DE USUARIOS</h2>
            <form action="/usuarios/guardar" method="post" novalidate>
                <div class="formulario_div">
                    <label class="formulario_label" for="cuil">CUIL:</label>
                    <input class="formulario_input" type="number" name="cuil" id="cuil" value="<%= oldData ? oldData.cuil : '' %>">
                    <% if(errors && errors.cuil){ %> 
                        <p class="error"> <%= errors.cuil.msg %> </p>
                    <% } %>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="nombre">NOMBRE:</label>
                    <input class="formulario_input" type="text" name="nombre" id="nombre" value="<%= oldData ? oldData.nombre : '' %>">
                    <% if(errors && errors.nombre){ %> 
                        <p class="error"> <%= errors.nombre.msg %> </p>
                    <% } %>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="apellido">APELLIDO:</label>
                    <input class="formulario_input" type="text" name="apellido" id="apellido" value="<%= oldData ? oldData.apellido : '' %>">
                    <% if(errors && errors.apellido){ %> 
                        <p class="error"> <%= errors.apellido.msg %> </p>
                    <% } %>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="email">EMAIL:</label>
                    <input class="formulario_input" type="email" name="email" id="email" value="<%= oldData ? oldData.email : '' %>">
                    <% if(errors && errors.email){ %> 
                        <p class="error"> <%= errors.email.msg %> </p>
                    <% } %>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="telefono">TELEFONO:</label>
                    <input class="formulario_input" type="text" name="telefono" id="telefono">
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="dependencia">DEPENDENCIA: </label>
                    <select class="formulario_select" name="dependencia" id="dependencia">
                        <option value="">Seleccione una opcion</option>
                        <% listadoDependencias.forEach((unaDependencia)=>{ %>
                            <option value="<%=unaDependencia.codigoDependenciaId %>" <%= oldData && oldData.dependencia === unaDependencia.codigoDependenciaId ? 'selected' : '' %>>
                                <%=unaDependencia.nombre %>
                            </option>
                        <% }) %>
                    </select>
                    <% if(errors && errors.dependencia){ %> 
                        <p class="error"> <%= errors.dependencia.msg %> </p>
                    <% } %>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="comentarios">COMENTARIOS</label>
                    <textarea class="formulario_input" name="comentarios" id="comentarios"><%= oldData ? oldData.comentarios : '' %></textarea>
                </div>
                <div class="formulario_div">
                    <button class="formulario_boton" type="submit">GUARDAR</button>
                </div>
            </form>
        </section>
        
    </main>
    <footer>
       
    </footer>
</body>
</html>