<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%- include ('../partials/stylesComunes') %>
        <%- include ('../partials/stylesFormularios') %>
    
        
        <%- include ('../partials/scriptsComunes') %>

    <title>Alta de usuario</title>
</head>
<body>
    <header>

        <%- include ('../partials/header.ejs') %>

    </header>
    <main>
        
        <%- include ('../partials/accesosRapidos.ejs')%>

        <section class="formulario">
            <h2 class="formulario_titulo">ALTA DE USUARIOS</h2>
            <form action="">
                <div class="formulario_div">
                    <label class="formulario_label" for="cuil">CUIL:</label>
                    <input class="formulario_input" type="number" name="cuil" id="cuil">
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="nombre">NOMBRE:</label>
                    <input class="formulario_input" type="text" name="nombre" id="nombre">
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="apellido">APELLIDO:</label>
                    <input class="formulario_input" type="text" name="apellido" id="apellido">
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="email">EMAIL:</label>
                    <input class="formulario_input" type="email" name="email" id="email">
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="telefono">TELEFONO:</label>
                    <input class="formulario_input" type="number" name="telefono" id="telefono">
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="dependencia">DEPENDENCIA: </label>
                    <select class="formulario_select" name="dependencia" id="dependencia">
                        <option value="">Seleccione una opcion</option>
                        <option value="f01_sec1">Juzgado Nacional y correcional Nº1, Secretaria Nº1</option>
                        <option value="f01_sec2">Juzgado Nacional y correcional Nº1, Secretaria Nº2</option>
                        <option value="f02_sec3">Juzgado Nacional y correcional Nº2, Secretaria Nº3</option>
                        <option value="f02_sec4">Juzgado Nacional y correcional Nº2, Secretaria Nº4</option>
                        <option value="f03_sec5">Juzgado Nacional y correcional Nº3, Secretaria Nº5</option>
                    </select>
                </div>
                <div class="formulario_div">
                    <button class="formulario_boton" type="submit">GUARDAR</button>
                </div>
            </form>
        </section>
        
    </main>
    <footer>
       
    </footer>
</body>
</html>