<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%- include ('../partials/stylesComunes') %>
        <%- include ('../partials/stylesFormularios') %>
    
        <%- include ('../partials/scriptsComunes') %>

    <title>Alta de tipos equipamiento</title>
</head>
<body>
    <header>

        <%- include ('../partials/header') %>

    </header>
    <main>
        
        <%- include ('../partials/accesosRapidos') %>

        <section class="formulario">
            <h2 class="formulario_titulo">ALTA DE TIPOS DE EQUIPAMIENTO</h2>
            <form action="/tiposEquipamiento/guardar" method="post" novalidate>
                <div class="formulario_div">
                    <label class="formulario_label" for="tipo">TIPO:</label>
                    <input class="formulario_input" type="text" name="tipo" id="tipo">
                    <% if (errors && errors.tipo) { %>
                        <p class="error"><%= errors.tipo.msg %> </p>
                    <% } %>
                </div>     
                <div class="formulario_div">
                    <label class="formulario_label" for="descripcion">DESCRIPCION:</label>
                    <textarea class="formulario_input" name="descripcion" id="descripcion"></textarea>
                    <% if (errors && errors.descripcion) { %>
                        <p class="error"><%= errors.descripcion.msg %> </p>
                    <% } %>
                </div>                  
                <div class="formulario_div">
                    <button class="formulario_boton" type="submit">GUARDAR</button>
                </div>
            </form>
        </section>
        
        
    </main>
    <footer>

    </footer>
</body>
</html>