<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%- include ('../partials/stylesComunes') %>
        <%- include ('../partials/stylesTablas') %>

        <link rel="stylesheet" href="/styles/dependenciasListado.css">
    
        <%- include ('../partials/scriptsComunes') %>

    <title>Listado de dependencia</title>
</head>
<body>
    <header>

        <%- include ('../partials/header.ejs') %>

    </header>
    <main>
        
        <%- include ('../partials/accesosRapidos.ejs')%>

        <section class="listado">
            <h2 class="listado_titulo">LISTADO DE DEPENDENCIAS</h2>
            <table>
                <thead>
                    <tr>
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th>EMAIL</th>
                        <th>TELEFONO</th>
                        <th>PISO</th>
                        <th>LADO</th>
                        <th>DESCRIPCION</th>
                        <th>VER</th>
                        <th>EDITAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody>
                    <% listadoDependencias.forEach((unaDependencia)=>{ %>
                        <tr>
                            <td><%= unaDependencia.codigoDependenciaId %></td>
                            <td><%= unaDependencia.nombre %></td>
                            <td><%= unaDependencia.email %></td>
                            <td><%= unaDependencia.telefono %></td>
                            <td><%= unaDependencia.piso %></td>
                            <td><%= unaDependencia.lado %></td>
                            <td><%= unaDependencia.descripcion %></td>
                            <td><i class="fa-solid fa-eye"></i></td>
                            <td><i class="fa-solid fa-pen-to-square"></i></td>
                            <td><i class="fa-solid fa-trash-can"></i></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
        
    </main>
    <footer>
       
    </footer>
</body>
</html>