<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%- include ('../partials/stylesComunes') %>
        <link rel="stylesheet" href="/styles/vistaDetalles.css">
    
        <%- include ('../partials/scriptsComunes') %>

    <title>DETALLE DE DEPENDENCIA</title>
</head>
<body>
    <header>

        <%- include ('../partials/header') %>

    </header>
    <main>

        <%- include ('../partials/accesosRapidos')%>

        <section class="verUsuario-section">

            <h2 class="verUsuario-titulo">INFORMACION DE LA DEPENDENCIA SELECCIONADA:</h2>

            <article class="verUsuario-article">
                <div class="article-div">
                    <p class="article-nombre">CODIGO:</p>
                    <p><%= dependenciaEncontrada.codigoDependenciaId %></p>
                </div>
                <div class="article-div">
                    <p class="article-nombre">DEPENDENCIA: </p>
                    <p><%= dependenciaEncontrada.nombre %></p>
                </div>
                <div class="article-div">
                    <p class="article-nombre">EMAIL: </p>
                    <p><%= dependenciaEncontrada.email %></p>
                </div>
                <div class="article-div">
                    <p class="article-nombre">TELEFONO: </p>
                    <p><%= dependenciaEncontrada.telefono %></p>
                </div>
                <div class="article-div">
                    <p class="article-nombre">PISO: </p>
                    <p><%= dependenciaEncontrada.piso %></p>
                </div>
                <div class="article-div">
                    <p class="article-nombre">LADO: </p>
                    <p><%= dependenciaEncontrada.lado %></p>
                </div>
                <div class="article-div">
                    <p class="article-nombre">DETALLES: </p>
                    <% if (dependenciaEncontrada.descripcion == '') {%>
                        <p>Sin informacion para mostrar</p>
                    <% }else { %>
                        <p><%= dependenciaEncontrada.descripcion %></p>
                    <% } %>
                </div>
            </article>        
        </section>

        <a class="verUsuario-regresar" href="/dependencias/listado">Volver al listado anterior</a>
        
        
    </main>
    <footer>
       
    </footer>
</body>
</html>