<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%- include ('../partials/stylesComunes') %>
        <%- include ('../partials/stylesFormularios') %>
    
        <%- include ('../partials/scriptsComunes') %>

    <title>Alta de equipos</title>
</head>
<body>
    <header>

        <%- include ('../partials/header.ejs') %>

    </header>
    <main>
        
        <%- include ('../partials/accesosRapidos.ejs')%>

        <section class="formulario">
            <h2 class="formulario_titulo">ALTA DE EQUIPOS</h2>
            <form action="/equipamiento/guardar" method="post" novalidate>
                <div class="formulario_div">
                    <label class="formulario_label" for="numeroSerie">NUMERO DE SERIE:</label>
                    <input class="formulario_input" type="text" name="numeroSerie" id="numeroSerie" value="<%= oldData && oldData.numeroSerie ? oldData.numeroSerie : ''%>">
                    <% if (errors && errors.numeroSerie) { %>
                        <p class="error"><%= errors.numeroSerie.msg %></p>
                    <% } %>
                </div>     
                <div class="formulario_div">
                    <label class="formulario_label" for="tipoEquipamiento">TIPO DE EQUIPAMIENTO:</label>
                    <select class="formulario_input" name="tipoEquipamiento" id="tipoEquipamiento">
                        <option value="">Seleccione una opcion</option>

                        <%listadoTiposEquipamiento.forEach((unTipoEquipamiento)=>{ %>
                            <option value="<%=unTipoEquipamiento.tipoEquipamientoId%>">
                                <%=unTipoEquipamiento.tipo %>
                            </option>
                         <% }) %>
                         
                    </select>
                    <% if (errors && errors.tipoEquipamiento) { %>
                        <p class="error"><%= errors.tipoEquipamiento.msg %></p>
                    <% } %>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="marca">MARCA:</label>
                    <select class="formulario_input" name="marca" id="marca">
                        <option value="">Seleccione una opcion</option>
                        <option value="lenovo" <%= oldData && oldData.marca === "lenovo" ? 'selected' : '' %> >Lenovo</option>
                        <option value="bangho" <%= oldData && oldData.marca === "bangho" ? 'selected' : '' %>  >Bangho</option>
                        <option value="sansei" <%= oldData && oldData.marca === "sansei" ? 'selected' : '' %> >Sansei</option>
                        <option value="hp" <%= oldData && oldData.marca === "hp" ? 'selected' : '' %> >Hewlett Packard</option>
                        <option value="dell" <%= oldData && oldData.marca === "dell" ? 'selected' : '' %> >Dell</option>
                        <option value="lexmark" <%= oldData && oldData.marca === "lexmark" ? 'selected' : '' %> >Lexmark</option>
                        <option value="brother" <%= oldData && oldData.marca === "brother" ? 'selected' : '' %> >Brother</option>
                        <option value="oki" <%= oldData && oldData.marca === "oki" ? 'selected' : '' %> >OKI</option>
                        <option value="samsung" <%= oldData && oldData.marca === "samsung" ? 'selected' : '' %> >Samsung</option>
                    </select>
                    <% if (errors && errors.marca) { %>
                        <p class="error"><%= errors.marca.msg %></p>
                    <% } %>
                </div> 
                <div class="formulario_div">
                    <label class="formulario_label" for="modelo">MODELO:</label>
                    <select class="formulario_input" name="modelo" id="modelo">
                        <option value="">Seleccione una opcion</option>
                        <option value="9485-A21" <%= oldData && oldData.modelo === "9485-A21" ? 'selected' : '' %> >9485-A21</option>
                        <option value="OPTIMA-1793" <%= oldData && oldData.modelo === "OPTIMA-1793" ? 'selected' : '' %> >OPTIMA 1793</option>
                        <option value="OPTIMA-T4" <%= oldData && oldData.modelo === "OPTIMA-T4" ? 'selected' : '' %>  >OPTIMA T4</option>
                        <option value="CROSS" <%= oldData && oldData.modelo === "CROSS" ? 'selected' : '' %> >CROSS</option>
                        <option value="MS-421" <%= oldData && oldData.modelo === "MS-421" ? 'selected' : '' %> >MS-421</option>
                        <option value="MS-610" <%= oldData && oldData.modelo === "MS-610" ? 'selected' : '' %> >MS-610</option>
                    </select>
                    <% if (errors && errors.modelo) { %>
                        <p class="error"><%= errors.modelo.msg %></p>
                    <% } %>
                </div>  
                <div class="formulario_div">
                    <label class="formulario_label" for="hostname">HOSTNAME:</label>
                    <input class="formulario_input" type="text" name="hostname" id="hostname">
                </div>  
                <div class="formulario_div">
                    <label class="formulario_label" for="numeroIp">NUMERO DE IP:</label>
                    <input class="formulario_input" type="text" name="numeroIp" id="numeroIp">
                </div>          
                <div class="formulario_div">
                    <label class="formulario_label" for="foto">FOTO:</label>
                    <input class="formulario_input" type="file" name="foto" id="foto">
                </div>            
                <div class="formulario_div">
                    <label class="formulario_label" for="estado">ESTADO: </label>
                    <select class="formulario_input" name="estado" id="estado">
                        <option value="">Seleccione una opcion</option>
                        <option value="enStock" <%= oldData && oldData.estado === "enStock" ? 'selected' : '' %> >En stock</option>
                        <option value="instalado" <%= oldData && oldData.estado === "instalado" ? 'selected' : '' %> >instalado</option>
                        <option value="reparacion" <%= oldData && oldData.estado === "reparacion" ? 'selected' : '' %> >Reparacion</option>
                        <option value="paraPrestamo" <%= oldData && oldData.estado === "paraPrestamo" ? 'selected' : '' %> >Para prestamo</option>
                        <option value="prestado" <%= oldData && oldData.estado === "prestado" ? 'selected' : '' %> >Prestado</option>
                        <option value="baja" <%= oldData && oldData.estado === "baja" ? 'selected' : '' %> >Baja</option>
                    </select>
                    <% if (errors && errors.estado) { %>
                        <p class="error"><%= errors.estado.msg %></p>
                    <% } %>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="procesador">PROCESADOR:</label>
                    <select class="formulario_input" name="procesador" id="procesador">
                        <option value="">Seleccione una opcion</option>
                        <option value="INTEL-I5">INTEL I5</option>
                        <option value="AMD-Ryzen3">AMD-Ryzen 3</option>
                    </select>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="memoriaRam">MEMORIA RAM:</label>
                    <select class="formulario_input" name="memoriaRam" id="memoriaRam">
                        <option value="">Seleccione una opcion</option>
                        <option value="DDR4-8GB">DDR4-8GB</option>
                        <option value="DDR5-8GB">DDR5-8GB</option>
                    </select>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="tipoDisco">TIPO DE DISCO RIGIDO:</label>
                    <select class="formulario_input" name="tipoDisco" id="tipoDisco">
                        <option value="">Seleccione una opcion</option>
                        <option value="HDD">HDD</option>
                        <option value="SSD">SSD</option>
                    </select>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="capacidadDisco">CAPACIDAD DE DISCO RIGIDO:</label>
                    <select class="formulario_input" name="capacidadDisco" id="capacidadDisco">
                        <option value="">Seleccione una opcion</option>
                        <option value="256GB">256 GB</option>
                        <option value="500GB">500 GB</option>
                        <option value="1TB">1 TB</option>
                    </select>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="lectograbadoraDVD">LECTOGRABADORA DVD:</label>
                    <label for="">SI</label>
                    <input type="radio" name="lectograbadoraDVD" id="si" value="si">
                    <label for="">NO</label>
                    <input type="radio" name="lectograbadoraDVD" id="no" value="no">
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="sistemaOperativo">SISTEMA OPERATIVO:</label>
                    <select class="formulario_input" name="sistemaOperativo" id="sistemaOperativo">
                        <option value="">Seleccione una opcion</option>
                        <option value="win11-64">Windows 11 64bits</option>
                        <option value="win10-64">Windows 10 64bits</option>
                        <option value="win7-32">Windows 7 32bits</option>
                        <option value="win7-64">Windows 7 64bits</option>
                        <option value="winxp-32">Windows XP 32bits</option>
                    </select>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="dependencia">DEPENDENCIA:</label>
                    <select class="formulario_input" name="dependencia" id="dependencia">
                        <option value="">Seleccione una opcion</option>

                        <% listadoDependencias.forEach((unaDependencia)=>{ %>
                            <option value="<%=unaDependencia.codigoDependenciaId%>" <%= oldData && oldData.dependencia == unaDependencia.codigoDependenciaId ? 'selected' : '' %> >
                                <%=unaDependencia.nombre%>
                            </option>
                        <% })%>
                    </select>
                    <% if (errors && errors.dependencia) { %>
                        <p class="error"><%= errors.dependencia.msg %></p>
                    <% } %>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="usuario">USUARIO:</label>
                    <select class="formulario_input" name="usuario" id="usuario">
                        <option value="">Seleccione una opcion</option>
                        <% listadoUsuarios.forEach((unUsuario)=>{%>
                            <option value="<%=unUsuario.cuilUsuarioId%>" <%= oldData && oldData.usuario == unUsuario.cuilUsuarioId ? 'selected' : '' %>>
                                <%=unUsuario.nombre%> <%=unUsuario.apellido%>
                            </option>
                        <%})%>
                    </select>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="internet">INTERNET:</label>
                    <label for="">SI</label>
                    <input type="radio" name="internet" id="si" value="si">
                    <label for="">NO</label>
                    <input type="radio" name="internet" id="no" value="no">
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="aclAsignado">ACL ASIGNADO:</label>
                    <select class="formulario_input" name="aclAsignado" id="aclAsignado">
                        <option value="">Selecciones una opcion</option>

                        <%listadoAcls.forEach((unAcl)=>{ %>
                            <option value="<%=unAcl.aclId%>" <%= oldData && oldData.aclAsignado == unAcl.aclId ? 'selected' : '' %> >
                                <%=unAcl.nombre%>
                            </option>
                        <% }) %>

                    </select>
                </div>
                <div class="formulario_div">
                    <label class="formulario_label" for="detalles">DETALLES:</label>
                    <textarea class="formulario_input" name="detalles" id="detalles"></textarea>
                </div>       
                <div class="formulario_div">
                    <button class="formulario_boton" type="submit">GUARDAR</button>
                </div>
            </form>
        </section>
        
    </main>
    <footer>
       
    </footer>
</body>
</html>